
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #E0E1E0;
    color: #2F334B;
}


/* .section-name::after {
    content: "";
    height: 4px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    background: gray;
} */

/* End of global styles */
.test{
    display: flex;
    border: #D17A22 2px solid;
    height: 500px;
      width: 300px;
}

.social-links i {
    
}

.my-photo {
    height: 500px;
    width: 300px;  
}

.my-img img {
    width: 100%;
    height: 100%;
    border-radius: 25%;

}


/* About me section */



/* Projects */

.portfolio, .skills {
    background-color: #2F334B;
    color: #E0E1E0;
}



